<div id="bio" ng-controller="bioController">
<table class="table">
	<tr>
		 <h3 style="text-align:center"><br>Personal Details</h3>
	</tr>
	<tr ng-repeat="singlePersonalDetail in personalDetails">
		<td style="text-align:center">{{singlePersonalDetail.key}}</td>
		<td style="text-align:center">{{singlePersonalDetail.personalDetail}}</td>
	</tr>
	
	<tr>
		 <h3 style="text-align:center"><br>Family Details</h3>
	</tr>
	<tr ng-repeat="singleFamilyDetail in familyDetails">
		<td style="text-align:center">{{singleFamilyDetail.key}}</td>
		<td style="text-align:center">{{singleFamilyDetail.familyDetail}}</td>
	</tr>
	
	<tr>
		 <h3 style="text-align:center"><br>Communication Details</h3>
	</tr>
	<tr ng-repeat="singleCommDetail in communicationDetails">
		<td style="text-align:center">{{singleCommDetail.key}}</td>
		<td style="text-align:center">{{singleCommDetail.communicationDetail}}</td>
	</tr>
</table>
</div>