<div id="bio" ng-controller="resumeController">
<table class="table table-bordered">
	<tr ng-repeat="singleDetail in communicationDetails">
		<td class="resumeHeaderAddressStyle">
			<table class="table table-bordered">
				<tr> <td style="text-align:center">{{singleDetail.address.line1}}</td></tr>
				<tr> <td style="text-align:center">{{singleDetail.address.line2}}</td></tr>
			</table>
		</td>
		<td class="resumeHeaderNameStyle"><h2>{{singleDetail.name}}</h2></td>
		<td class="resumeHeaderContactStyle">
			<table class="table table-bordered">
				<tr> <td style="text-align:center">{{singleDetail.contacts.phone}}</td></tr>
				<tr> <td style="text-align:center">{{singleDetail.contacts.email}}</td></tr>
			</table>
		</td>
	</tr>
</table>
</div>