<div id="bio" ng-controller="resumeController">
<table class="table table-bordered">
	<tr ng-repeat="singleDetail in communicationDetails">
		<td class="resumeHeaderAddressStyle">
			<table class="table table-bordered">
				<tr> <td style="text-align:center">{{singleDetail.address.line1}}</td></tr>
				<tr> <td style="text-align:center">{{singleDetail.address.line2}}</td></tr>
			</table>
		</td>
		<td class="resumeHeaderNameStyle"><h2>{{singleDetail.name}}</h2></td>
		<td class="resumeHeaderContactStyle">
			<table class="table table-bordered">
				<tr> <td style="text-align:center">{{singleDetail.contacts.phone}}</td></tr>
				<tr> <td style="text-align:center">{{singleDetail.contacts.email}}</td></tr>
			</table>
		</td>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<th colspan="3" class="employmentTitleStyle">EMPLOYMENT</th>
	</tr>
	<tr ng-repeat="singleEmployment in employmentDetails">
		<td class="companyDetailStyle">{{singleEmployment.jobTitle}}</td>
		<td class="companyDetailStyle">{{singleEmployment.company}}</td>
		<td class="companyDetailStyle">{{singleEmployment.timeOfEmplyment}}</td>
	</tr>
	<tr>
		<td colspan="3">
			<p class="jobStyle"><b>Test</b></p>
				<ul>
					<li ng-repeat="details in firstProject">{{details}}</li>
				</ul>

		</td>
	</tr>
	<tr>
		<td colspan="3">
			<p class="jobStyle"><b>Test</b></p>
				<ul>
					<li ng-repeat="details in secondProject">{{details}}</li>
				</ul>

		</td>
	</tr>
	<tr>
		<td colspan="3">
			<p class="jobStyle"><b>Test</b></p>
				<ul>
					<li ng-repeat="details in thirdProject">{{details}}</li>
				</ul>

		</td>
	</tr>
	<tr>
		<td colspan="3">
			<p class="jobStyle"><b>Test</b></p>
				<ul>
					<li ng-repeat="details in fourthProject">{{details}}</li>
				</ul>

		</td>
	</tr>
	<!-- from here education details-->
	<tr>
		<th colspan="3" class="educationTitleStyle">EDUCATION</th>
	</tr>
	<tr ng-repeat="singleDetail in educationDetails">
		<td class="educationDetailStyle">{{singleDetail.city}}</td>
		<td class="educationDetailStyle">{{singleDetail.institute}}</td>
		<td class="educationDetailStyle">{{singleDetail.timeOfEducation}}</td>
	</tr>
	<tr>
		<td colspan="3">
			<ul>
				<li ng-repeat="details in undergradeCourse">{{details}}</li>
			</ul>
		</td>
	</tr>
	
	<tr>
		<th colspan="3" class="techExpTitleStyle">TECHNICAL EXPERIENCE</th>
	</tr>
	
	<tr>
		<td colspan="3">
			<ul>
				<li ng-repeat="details in techExperience">{{details}}</li>
			</ul>
		</td>
	</tr>
	
	<tr>
		<th colspan="3" class="awardsTitleStyle">ADDITIONAL EXPERIENCE AND AWARDS</th>
	</tr>
	
	<tr>
		<td colspan="3">
			<ul>
				<li ng-repeat="details in additionalDetails">{{details}}</li>
			</ul>
		</td>
	</tr>
	
	<tr>
		<th colspan="3" class="techTitleStyle">Language and Techonologies</th>
	</tr>
	
	<tr>
		<td colspan="3">
			<ul>
				<li ng-repeat="details in techincalDetails">{{details}}</li>
			</ul>
		</td>
	</tr>
</table>

</div>